html {
    direction: rtl;
}

.main-sidebar {
    right: 0;
}

.Sidebar-collapse>.wrapper>.main-sidebar {
    width: 60px;
}

.content-wrapper {
    margin-right: 270px;
    margin-left: 0px;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    /* margin-right: 60px; */
    margin-left: 0px;
}

.main-header div.logo-box {
    width: 270px;
    float: right;
}

.sidebar-mini.sidebar-collapse .content-wrapper {
    margin-right: 60px !important;
    margin-left: 0px !important;
}

.main-header .navbar {
    margin-left: 0;
    margin-right: 270px;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: auto;
    left: 0;
}

